LameDuckClient/xml-resources/web-service-references/lameDuckService/wsdl/localhost_8080/LameDuck/lameDuckService.xsd_3.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.netbeans.org/schema/hotel" targetNamespace="http://xml.netbeans.org/schema/hotel" elementFormDefault="qualified">
    <xsd:complexType name="AddressT">
        <xsd:sequence>
            <xsd:element name="street" type="xsd:string"/>
            <xsd:element name="city" type="xsd:string"/>
            <xsd:element name="country" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReservationT">
        <xsd:sequence>
            <xsd:element name="hotelName" type="xsd:string"/>
            <xsd:element name="bookingNumber" type="xsd:string"/>
            <xsd:element name="reservationService" type="xsd:string"/>
            <xsd:element name="address" type="tns:AddressT"/>
            <xsd:element name="price" type="xsd:double"/>
            <xsd:element name="needGuarantee" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReservationListT">
        <xsd:sequence>
            <xsd:element name="newElement" type="tns:ReservationT" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>