NiceViewClient/src/META-INF/wsdl/hotel.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/hotel"
    xmlns:tns="http://xml.netbeans.org/schema/hotel"
    elementFormDefault="qualified">
    <xsd:complexType name="AddressT">
        <xsd:sequence>
            <xsd:element name="street" type="xsd:string"></xsd:element>
            <xsd:element name="city" type="xsd:string"></xsd:element>
            <xsd:element name="country" type="xsd:string"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReservationT">
        <xsd:sequence>
            <xsd:element name="hotelName" type="xsd:string"></xsd:element>
            <xsd:element name="bookingNumber" type="xsd:string"></xsd:element>
            <xsd:element name="reservationService" type="xsd:string"></xsd:element>
            <xsd:element name="address" type="tns:AddressT"></xsd:element>
            <xsd:element name="price" type="xsd:double"></xsd:element>
            <xsd:element name="needGuarantee" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ReservationListT">
        <xsd:sequence>
            <xsd:element name="newElement" type="tns:ReservationT" maxOccurs="unbounded" minOccurs="0"></xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
